

#bg{
  background-color: #cf0c18;
  background-size: 100%;

}

.white{
  color:whitesmoke;
}

.row{
  justify-content: center;
  align-items: center;
}

form {
  background-color: #d4d4d477;
  border-radius: 5px;
  color: #ececf1;
  width: 75%;
  padding: 35px;
  margin: auto;
}

.col{
  display: flex;
  justify-content: center;
}


.el-form-item__error{
  color: #000;
}

.img{
  width:250px;
}

@media screen and (min-width: 601px) {
  #title {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  #title {  
    font-size: 55px;
  }
  form {  
    width: 90%;
    padding-bottom: 5%;
  }


}

#icon{
  height: 35%;
}
#lform{
  height: 65%;
}
