.login {
  width: 400px;
}

#t{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://images8.alphacoders.com/431/thumb-1920-431377.jpg) no-repeat center top;
  position: fixed;
}
#aaa{
    top:200px;
    right: -55%;
}

#bianco{
  color:whitesmoke;
}